.cart-sidebar__full {
  display: none;
}
.cart-sidebar__empty {
  display: block;
}
.card-present__list-item:nth-child(n+2) {
	display: none;
}
.filter__track:after {
  position: absolute;
  content: '';
  width: 123px;
  height: 20px;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background: url(../img/range-columns-2.svg) no-repeat 0 0;
}
